body {
    background: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*PANTALLA 0*/

.screen0 {
    /*width: auto;
    height: 50em;*/
    position: relative;  
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 1.5em;
    /*margin-top: 20em;*/
    margin-top: 2em;
    width: 100vw;
    height: 90vh;
}

.screen0 h1 {
    font-size: 5em;
    color: rgb(214, 214, 214);
    letter-spacing: 0.4em;
    text-align: center;  
}

.screen0 p {
    letter-spacing:  0.1em;
    color: rgb(214, 214, 214);
    text-align: center;
}

/*PANTALLA 1*/

.screen1 {
    /*width: auto;
    height: 30em;*/
    position: relative;  
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 1.5em;
    margin-top: 2em;
    width: 100vh;
    height: 90vh;
}

.screen1 h1 { 
    font-size: 2em;
    color: rgb(214, 214, 214);
    letter-spacing: 0.4em;
    margin-top: 1.1;
}
  
.screen1 h3 { 
    color: rgb(214, 214, 214);
}

.screen1 p {
    max-width: 29.5em;
    letter-spacing:  0.1em;
    color: rgb(214, 214, 214);
}
  
.textWelcome {
    height: 12em;
    position: relative;
}

.textWelcome p {
    margin: 22px auto;
}
      
.press {
    margin: 1em auto;
}

.border {
    position: relative;
    border-width: thick;
    margin-top: 5em;
    padding: 1em;
    background: linear-gradient(90deg, red 50%, transparent 50%), 
                linear-gradient(90deg, red 50%, transparent 50%), 
                linear-gradient(0deg, red 50%, transparent 50%), 
                linear-gradient(0deg, red 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    border-radius: 0.5em;
    padding: 10px;
    animation: dash 6s linear infinite;
}

@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

/*PANTALLA 2 JUGADORES*/

.screen2 {
    /*width: auto;
    height: 30em;*/
    position: relative;  
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 1.5em;
    color: rgb(214, 214, 214);
    margin-top: 5em;
    letter-spacing: 0.1em;
    width: 100vw;
    height: 90vhh;

}

/*PANTALLA 4 CHOOSE SHIP */

.screen3 {
    height: 100vh;
    width: 100vh;
}

.barcos{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    margin-top: -5em;
}

.shipShowPic {
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.picShip{
    width: 20em;
    height: 20em;
    border: 0.5em solid white;
    margin: 1em;
    transition: 0.5s;
    object-fit: contain;
}

.picShip:hover{
    border: 0.5em solid red;
    transition: 0.5s;
    transform: scale(1.1); 
}

.screen3 .press {
    margin-top: -10em;
}

.screen3 p {
    max-width: 29.5em;
    letter-spacing:  0.1em;
    color: rgb(214, 214, 214);
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 1.5em;
}


.screen3 h5 {
    letter-spacing:  0.1em;
    color: rgb(214, 214, 214);
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 2em;

}
/*PANTALLA 4 TABLERO */

.screen4 {
    padding: 1rem; 
    margin-top: 5em;
    width: 95vw;
    height: 80vh;
}

.zone {
    background-color: grey;
    color: white;
    padding: 1rem;
    height: 4rem;
    border: black solid;
    text-align: center;
    font-size: 4em;
    font-family: 'VT323', monospace;
    
  }
  
.board {
    max-width: 25em;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }
  
  /* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .board { grid-template-columns: repeat(2, 1fr); }
  }
  
  /* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .board { grid-template-columns: repeat(3, 1fr); }
  }